@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body.no-scroll {
    overflow: hidden; /* 禁止所有滾動 */
}

:root {
    --dark-blue: #0f2442;  /* 深暗藍（接近黑）*/
    --navy-blue: #1a1a40;  /* 啞光海軍藍 */
    --soft-blue: #2d2d5a;   /* 按鈕用藍 */
    --white: #e6e6e6;       /* 柔白 */
    --black: #1b1b1b;       /* 深黑 */
    --gray: #4e4e4e;
    --highlight: #4dff4d;   /* 柔和軍事綠 */
}

.career-title {
    height: 25px;
    text-align: center;
    position: relative;
    right: 620px;
    top: 100px;
}

.no-jobs-container{
    width: 240px;
    text-align: center;
    position: relative;
    right: 820px;
    top: 250px;
    white-space: nowrap;
}